<%= render 'settings/tabnav', active_tab: :about %>

<div class="about">
  <h2 class="title is-4">About Lists</h1>

  <div class="content">
    <p>Version: <%= Lists.version %> released <%= Lists.last_release %></p>
  </div>
</div>
