<% cache ['settings', @tags] do %>
  <%= render 'settings/tabnav', active_tab: :tags %>

  <% cache @tags do %>
    <div class="container tags-list">
      <% @tags.each do |tag| %>
        <%= render 'tag', tag: tag %>
      <% end %>
    </div>
  <% end %>
<% end %>
