<% cache ['settings', current_user.id, @tags] do %>
  <%= render 'settings/tabnav', active_tab: :tags %>

  <% cache [current_user.id, @tags] do %>
    <div class="tags-list">
      <% @tags.each do |tag| %>
        <%= render 'tag', tag: tag %>
      <% end %>
    </div>
  <% end %>
<% end %>
