<div class="box" data-filter-name="<%= item.name %>">
  <div class="level-left is-mobile">
    <div class="level-item has-text-centered">
      <figure class="image is-64x64">
        <%= image_tag item.image.thumb.url %>
      </figure>
    </div>

    <div class="level-item has-text-centered">
      <div class="title is-4"><%= link_to item, item %></div>
    </div>
  </div>
</div>
