<section class="section new-item">
  <%= form_for :item do |f| %>
    <%= f.text_field :name, class: 'input is-large', placeholder: 'Add item', autocomplete: :off %>
  <% end %>
</section>

<section class='section items-list'>
  <% @items.each do |item| %>
    <%= render 'item', item: item %>
  <% end %>
</section>
