<h1 class="title">Items</h1>

<% @items.each do |item| %>
  <div class="box">
    <article class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <%= image_tag item.image.thumb.url %>
        </figure>
      </div>

      <div class="media-content">
        <%= item %>
      </div>
    </article>
  </div>
<% end %>
