/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'font-awesome';
@import 'bulma';

.columns.is-gapless > .column.main-content {
  padding-bottom: 40px;
}

.side-nav {
  padding-top: 40%;
  padding-bottom: 40%;

  li {
    padding: 5px;
  }

  .menu-list a {
    &:hover, &.is-active {
      background-color: inherit;
      color: $primary;
    }
  }

  .label-nav {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.items-list {
  .box {
    padding: 0;
    padding-right: 1.25rem;

    img {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  }
}
