@import 'bulma/css/bulma.css';

:root {
  // #202020
  --bulma-scheme-h: 0deg;
  --bulma-scheme-s: 0%;
  --bulma-scheme-main-l: 13%;

  --bulma-scheme-main-bis: #1c1c1c;
  --bulma-scheme-main-ter: #2f2f2f;
  --bulma-scheme-lighter: #3e3e3e;
  --bulma-background: #202020;
  --bulma-text: #c6c6c7;
  // For input fields to pick it up
  --bulma-text-strong-l: 77%;
  --bulma-text-strong: #d9d9d9;
  --bulma-primary: #355070;
  --bulma-danger: #b56576;
  --bulma-warning: #eaac8b;
  --bulma-info: #6d597a;
  --bulma-success: #355070;
  --bulma-link: #e56b6f;
  --bulma-border: #1c1c1c;
  --bulma-placeholder-color: #696969;
  --bulma-loading-color: #222;

  // Same as link color, but in hsl
  --bulma-link-h: 357deg;
  --bulma-link-s: 69%;
  --bulma-link-l: 67%;
}

// Dark theme customizations
body {
  --balloon-color: var(--bulma-scheme-lighter);
  --balloon-text-color: var(--bulma-text);
  --balloon-border-radius: 6px;

  // Chrome calendar icon in date inputs
  ::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }

  // Image adjustments for dark mode
  img {
    filter: brightness(0.9) contrast(1.1);
  }

  .tabs li.is-active {
    i {
      color: var(--bulma-link);
    }
  }

  .cover-box {
    &.is-focused {
      figure {
        box-shadow: 0 0 3px 3px var(--bulma-link);

        img {
          filter: brightness(1) contrast(1);
        }
      }
    }

    figure.is-placeholder {
      background-color: var(--bulma-scheme-main-ter);
      border-radius: 3px;
    }
  }

  .placeholder-grid {
    .cover-box {
      figure {
        background-color: var(--bulma-scheme-main-ter);
        animation-name: color;
        animation-duration: 750ms;
        animation-iteration-count: infinite;
      }

      @keyframes color {
        0% {
          background-color: var(--bulma-loading-color);
        }
        50% {
          background-color: var(--bulma-scheme-main-ter);
        }
        100% {
          background-color: var(--bulma-loading-color);
        }
      }
    }

    @for $i from 0 through 8 {
      .cover-box.i#{$i} {
        figure {
          animation-delay: #{$i * 10}ms;
        }
      }
    }
  }

  a,
  p,
  strong {
    color: var(--bulma-text);
  }

  .tabs {
    background-color: var(--bulma-scheme-main-ter);
  }

  .tabs a {
    color: var(--bulma-text-strong);
    border-bottom-color: var(--bulma-scheme-main);
  }

  .label {
    color: var(--bulma-text);
  }

  .title,
  .subtitle,
  .modal-card-title {
    color: var(--bulma-text-strong);
  }

  code {
    background-color: var(--bulma-scheme-lighter);
    color: var(--bulma-link);
  }

  .tag.is-light {
    background-color: var(--bulma-scheme-lighter);
    color: var(--bulma-text);
  }

  .tag.is-warning {
    background-color: var(--bulma-warning);
    color: var(--bulma-scheme-main-bis);
  }

  .tag.is-success {
    background-color: var(--bulma-success);
    color: var(--bulma-text-strong);
  }

  .modal-card-body,
  .table {
    background-color: var(--bulma-background);
    color: var(--bulma-text);

    th,
    td {
      color: var(--bulma-text);
    }
  }

  .button {
    background-color: var(--bulma-scheme-main-ter);
  }

  .box,
  .button,
  .modal-card-head,
  .modal-card-foot {
    color: var(--bulma-text);
  }

  .modal-card-head {
    background-color: var(--bulma-background);
  }

  .modal-card-foot {
    background-color: var(--bulma-scheme-main-ter);
  }

  .button,
  .modal-card-foot,
  .modal-card-head {
    border: none;
  }

  .modal-card-foot .button {
    background-color: var(--bulma-scheme-lighter);
    color: var(--bulma-text);
  }

  i.fa {
    color: var(--bulma-text);
  }

  hr {
    background-color: var(--bulma-scheme-lighter);
  }

  .is-primary,
  .is-primary:hover,
  .is-success,
  .is-success:hover {
    background-color: var(--bulma-primary) !important;
    color: var(--bulma-text-strong) !important;
  }

  .is-danger,
  .is-danger:hover {
    background-color: var(--bulma-danger) !important;
    color: var(--bulma-text-strong) !important;
  }

  .is-info,
  .is-info:hover {
    background-color: var(--bulma-info) !important;
    color: var(--bulma-text-strong) !important;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes modalBlurIn {
  0% {
    backdrop-filter: blur(0px);
    opacity: 0;
  }
  100% {
    backdrop-filter: blur(8px);
    opacity: 1;
  }
}

.fade-in {
  animation: fadein 200ms;
}

.fade-out {
  animation: fadeout 200ms;
  opacity: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.tag {
  user-select: none;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0s 0.2s,
    opacity 0.2s linear;
}

.has-pointer {
  cursor: pointer;
}

.has-no-bottom-padding {
  padding-bottom: 0;
}

.has-bottom-padding {
  padding-bottom: 1.5rem;
}

.main-section {
  padding: 2rem 1.5rem;
}

.tabs.topnav-tabs {
  margin-bottom: 0;
}

.omni-bar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  background-color: var(--bulma-scheme-main-bis);
  color: var(--bulma-text);
  box-shadow: none;
  max-width: 100%;
  width: 100%;
  height: 2.25em;
  line-height: 1.5;
  font-size: 1.25rem;
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
  border: 1px solid var(--bulma-scheme-main-bis);
  border-radius: 4px;
  margin-bottom: 1.5rem;

  input {
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: 100%;
    font-size: inherit;
    color: inherit;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    &:focus {
      outline: 0;
    }

    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding-left: 0.8em;
    padding-right: 0.8em;
  }

  .auto-suggestion-input {
    z-index: 1;
    opacity: 1;
    -webkit-text-fill-color: var(--bulma-placeholder-color);
    color: var(--bulma-placeholder-color);
  }
}

.items-grid {
  display: grid;
  grid-gap: 0.8rem;

  .cover-box {
    img {
      border-radius: 3px;
      object-fit: cover;
      opacity: 0;
      animation: fadeIn 300ms ease-in forwards;

      // Safari image loading optimizations
      image-rendering: -webkit-optimize-contrast;
      image-rendering: crisp-edges;
      transform: translateZ(0);
      will-change: opacity;
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    .cover-box-info {
      color: var(--bulma-text);

      display: flex;
      justify-content: space-between;
      font-size: 0.8em;
      margin-top: 2px;

      .item-rating {
        font-size: 0.8em;
        margin-top: 2px;
      }
    }

    .placeholder-title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1rem;
    }
  }

  .status-tag {
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.6rem;
    border-radius: 0 3px 0 0;
  }
}

.item-actions {
  margin-top: 1rem;
}

.modal {
  animation: fadein 200ms;
}

.item-details-modal {
  .modal-background {
    backdrop-filter: blur(0px);
    background-color: rgba(10, 10, 10, 0.7);
    will-change: backdrop-filter, opacity;
    transform: translateZ(0);
    opacity: 0;
    animation: modalBlurIn 0.25s ease-out forwards;
  }

  .modal-card-head {
    min-height: 58px;

    box-shadow: none;

    .header-actions {
      margin-left: auto;
    }

    .edit-item-pencil {
      cursor: pointer;
      margin-left: 20px;
    }

    .external-item-links {
      a:not(:last-child) {
        margin-right: 20px;
      }

      a {
        color: var(--bulma-danger);
      }
    }

    &:hover {
      .external-item-links,
      .edit-item-pencil {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.2s linear;
      }
    }

    .modal-card-title {
      max-width: 75vw;
      flex-grow: 0;
    }
  }

  .modal-card-head,
  .modal-card-foot {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .modal-card-foot {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 'actions-left actions-right';

    .actions-left {
      display: flex;
      justify-content: flex-start;
      grid-area: actions-left;
    }

    .actions-right {
      display: flex;
      justify-content: flex-end;
      grid-area: actions-right;
    }

    .button:not(:last-child) {
      margin-right: 0.5em;
    }
  }

  .image-content {
    &:hover .item-rating {
      visibility: visible;
      opacity: 1;
      transition: opacity 0.2s linear;
    }
  }

  .tags {
    margin-bottom: 0.5rem;
  }

  @media (max-width: 500px) {
    justify-content: start;
  }

  .modal-card {
    width: 95vw;
    max-width: 1200px;

    @media (max-width: 500px) {
      // Use as much vertical height as possible on mobile, but ensure that the
      // modal footer does not take up the bottom 44px of the screen to avoid
      // accidental iPhone fullscreen toolbar triggering.
      // height: 89vh !important;
      // max-height: 89vh !important;

      height: 100vh;
      width: 100vw;

      .modal-card-head,
      .modal-card-foot {
        border-radius: 0px;
      }
    }
  }

  .modal-card-body {
    display: grid;
    grid-template-columns: 25% auto;
    grid-gap: 1em;
    grid-template-areas: 'image fields';
    height: 100%;

    .item-description,
    .item-notes {
      white-space: pre-wrap;
      border-radius: 4px;
    }

    @media (max-width: 500px) {
      grid-template-columns: 1fr;
      grid-template-areas:
        'image'
        'fields';
    }

    @media (min-width: 501px) {
      .fields {
        max-height: 62vh;
        overflow-y: scroll;
        overflow-x: hidden;
        // border-radius: 4px;
      }
    }
  }
}

.flash-notification {
  @extend .fade-in;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 99;

  @media (max-width: 500px) {
    border-radius: 0;
    font-size: 0.9rem;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 65px;

    .delete {
      right: 1rem;
      position: absolute;
      top: 1.3rem;
    }
  }
}
