# Dependencies
node_modules

# Build outputs
dist
build
coverage

# Package manager
package-lock.json
yarn.lock
pnpm-lock.yaml

# Environment files
.env
.env.local
.env.*.local

# IDE
.vscode
.idea

# Misc
*.log
